In [2]:
import pandas as pd

In [11]:
xls = pd.ExcelFile('inputdata.xlsx')
datasheetNames = xls.sheet_names ## To get the list of the name of datasheet

['Sheet1', 'Sheet2']

In [64]:
xls.parse('Sheet1', header=None)

,0,1,2
0,Name (as per NRIC),A1,Mandatory
1,NRIC,A2,Mandatory
2,Address (as per NRIC),A3,Mandatory
3,Mailing Address,A4,Mandatory
4,Contact Number (Residence),A5,Optional
5,Contact Number (Mobile),A6,Mandatory
6,Email address,A7,Mandatory
7,SSIC,A8,Mandatory
8,UEN number,A9,Optional
9,NTUC Union Membership (Please tick ☑):,☐ Additional Top-Up: S$1.00/hour: For NTUC Uni...,"Mandatory, either one of the 3"
10,NaN,NaN,NaN
11,NaN,NaN,NaN
12,NaN,NaN,NaN
13,NaN,☐ Additional Top-Up: S$0.50/hour: For New NTUC...,NaN
14,NaN,NaN,NaN
15,NaN,NaN,NaN
16,NaN,NaN,NaN
17,NaN,☐ Non NTUC Union Member,NaN
18,NaN,"If Non NTUC Union Member is checked, to have a...",NaN
19,NaN,NaN,NaN
20,NaN,NaN,NaN
21,NaN,NaN,NaN
22,NaN,Are you interested to apply for NTUC Union Mem...,NaN
23,NaN,NaN,NaN
24,Bank Account Detail,NaN,NaN
25,Mode of payment,Drop down,· Non-crossed cheque
26,(PayNow will be based on your NRIC),NaN,· GIRO
27,NaN,NaN,· PayNow
28,NaN,NaN,NaN
29,NaN,NaN,NaN
30,"If GIRO Option is chosen, please indicate your...",NaN,NaN
31,Name (as per bank book),Text field,Mandatory
32,Bank name,Text field,Mandatory
33,Bank account number,Text field,Mandatory
34,☑,I am a Self-Employed Person (includes freelanc...,NaN
35,☑,I will attain at least 75% course attendance a...,NaN
36,☑,I am not barred from receiving grants from all...,NaN
37,☑,I have not attended the same training programm...,NaN
38,NaN,NaN,NaN
39,☑,I have not claimed the training programme/s un...,NaN
40,☑,I will be a positive participant during the tr...,NaN
41,☑,I will provide the necessary supporting docume...,NaN
42,☑,I authorise e2i to disburse training allowance...,NaN
43,NaN,NaN,NaN
44,☑,I understand that e2i reserves the right to de...,NaN
45,NaN,NaN,NaN

In [45]:
def newDict(a):

    # Populating the initial dictionary with empty list
    newDict = {}
    for i in a:
        newDict[i] = []
    return newDict


def padDict(d, pad=""):
    length = len(d['Serial No'])
    for key, value in d.items():
        if len(value) < length:
            d[key].append(pad)
    return d


def convert(inputFilePath='inputdata.xlsx', outputFilePath='outputData.xlsx', a=[
    'Serial No',
    'Name (as per NRIC)',
    'NRIC',
    'Address (as per NRIC)',
    'Mailing Address',
    'Contact Number (Residence)',
    'Contact Number (Mobile)',
    'Email address',
    'SSIC',
    'UEN number',
    'Mode of payment',
    'Name (as per bank book)',
    'Bank name',
        'Bank account number']):

    import pandas as pd

    rowIndex = 0
    outDict = newDict(a)

    # Get Excel Book
    xls = pd.ExcelFile(inputFilePath)
    datasheetNames = xls.sheet_names  # To get the list of the name of datasheet

    # Loop every datasheet in the book
    for datasheetName in datasheetNames:
        # setup dictionary for the output file
        # print(outDict)
        outDict['Serial No'].append(0)
        rowIndex += 1

        df = xls.parse(datasheetName, header=None)
        convDict = df.to_dict()
        for index, key in convDict[0].items():
            if outDict.get(str(convDict[0][index]).strip(), [-1]) != [-1]:
                outDict[str(convDict[0][index]).strip()
                        ].append(convDict[1][index])

        outDict = padDict(outDict)

    outDf = pd.DataFrame(data=outDict, index=None)
    with pd.ExcelWriter('output.xlsx', mode='w') as writer:
        outDf.to_excel(writer, sheet_name='FINAL')
    return outDf



convert()
# if __name__ == "__main__":
#     print(sys.argv)
    # df.pivot(columns = "", vars="")

,Serial No,Name (as per NRIC),NRIC,Address (as per NRIC),Mailing Address,Contact Number (Residence),Contact Number (Mobile),Email address,SSIC,UEN number,Mode of payment,Name (as per bank book),Bank name,Bank account number
0,0,A1,A2,A3,A4,A5,A6,A7,A8,A9,Drop down,Text field,Text field,Text field
1,0,B1,B2,B3,B4,B5,B6,B7,B8,B9,Drop down,Text field,Text field,Text fieldasdasd